.about__me {
  height: fit-content;
  width: 100%;
  position: relative;
  // background-image: url(../imgs/starwars.webp);
  // background-size: cover;
  background-image: linear-gradient(
    78deg,
    rgba(9, 79, 90, 0.4) 50%,
    rgba(2, 112, 79, 0.4) 40%
  );
  // background-color: #969052;

  &-heading {
    font-size: 4.5rem;
    text-transform: uppercase;
    margin: 0;
    text-align: end;
    margin-right: 6rem;
    font-weight: 400;
    font-family: "Playfair Display", serif;
    color: white;
  }

  &-img {
    width: 50%;
    height: 80%;
    display: inline-block;
    margin-left: 6rem;
    &-init {
      filter: brightness(0.5);
      width: 60%;
      height: 100%;
      outline-offset: 20px;
      outline: 1rem solid $green-sheen;
    }
    &-init:hover {
      transform: scale(1.2);
    }
  }

  &-text {
    display: inline-block;
    width: 40%;
    box-shadow: 0 1rem 2.5rem black;
    border-radius: 3px;
    position: absolute;
    p {
      padding: 0.5rem 3rem;
      font-size: 1.6rem;
      cursor: pointer;
      color: white;
    }
  }

  @include respond(tab-port) {
    height: fit-content;
    &-heading {
      margin-bottom: 3rem;
      z-index: 3;
      font-size: 3rem;
    }
    &-img {
      width: 80%;
      height: fit-content;
    }
    &-text {
      display: block;
      width: auto;
      margin: 3rem 0.5rem;
      overflow: visible;
      position: relative;
      p {
        font-size: 1.6rem;
        // color: white;
      }
    }
  }
  // @include respond(tab-port) {
  //   &-heading {
  //     margin-bottom: 3rem;
  //   }
  //   &-img {
  //     height: 40rem;
  //   }
  // }
}
